{{define "flight_table"}}
<table class="{{.Class}}">
    <thead>
        <tr>
            <th>Flight</th>
            <th>Operator</th>
            <th>Destination</th>
            <th>Origin</th>
            <th>Distance (m)</th>
            <th>{{.Header}}</th>
        </tr>
    </thead>
    <tbody>
        {{range .Flights}}
        <tr>
            <td>{{.Ident}}</td>
            <td>{{if .Operator.Shortname}}{{.Operator.Shortname}}{{else}}{{.OperatorIcao}}{{end}} ({{.Operator.Country}})</td>
            <td>{{.Destination.City}} ({{.Destination.CodeIata}})</td>
            <td>{{.Origin.City}} ({{.Origin.CodeIata}})</td>
            <td>{{printf "%.0f" .Distance}}</td>
            <td>{{if eq $.Header "Last Seen"}}{{formatTime .LastSeen}}{{else}}{{.IdentificationCount}}{{end}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
