{{define "flight_table"}}
<table class="{{.Class}}">
    <thead>
        <tr>
            <th>Flight</th>
            <th>Operator</th>
            <th>Destination</th>
            <th>Origin</th>
            <th>{{.Header}}</th>
        </tr>
    </thead>
    <tbody>
        {{range .Flights}}
        <tr>
            <td>{{.Ident}}</td>
            <td>{{if .Operator.Shortname}}{{.Operator.Shortname}}{{else}}{{.OperatorIcao}}{{end}} ({{.Operator.Country}})</td>
            <td>{{.Destination.City}} ({{if .Destination.CodeIata}}{{.Destination.CodeIata}}{{else}}{{.Destination.Code}}{{end}})</td>
            <td>{{.Origin.City}} ({{if .Origin.CodeIata}}{{.Origin.CodeIata}}{{else}}{{.Origin.Code}}{{end}})</td>
            <td>{{if eq $.Header "Last Seen"}}{{formatTime .LastSeen}}{{else}}{{.IdentificationCount}}{{end}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
