name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22
    - name: Test
      run: go test ./...

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Tools
        uses: buildpacks/github-actions/setup-tools@v5.1.0
      - name: Set up Pack
        uses: buildpacks/github-actions/setup-pack@v5.1.0
      - name: Build
        run: pack build sopra-server --builder gcr.io/buildpacks/builder:v1
